importFrom("utils", "RSiteSearch", "apropos", "available.packages",
             "browseURL", "capture.output", "compareVersion",
             "file.edit", "file_test", "flush.console", "getCRANmirrors",
             "getS3method", "install.packages", "installed.packages",
             "methods", "object.size", "packageDescription",
             "remove.packages", "str", "tail", "write.table")
importFrom("methods", findFunction, existsFunction, new,
  getMethods, isGeneric, showMethods, slot, slotNames)
importFrom("stats", runif)
importFrom("tools", file_path_as_absolute)

export(add_actions,
       addActions,
       add_icons,
       addIcons,
       add_items,
       addItems,
       add_methods,
       addMethods,
       add_temp,
       addTemp,
       args_tip,
       argsTip,
       assign_temp,
       assignTemp,
       batch,
       call_tip,
       callTip,
       change_temp,
       changeTemp,
       capture_all,
       captureAll,
       compare_r_version,
       compareRVersion,
       completion,
       def,
       delete_temp,
       describe_args,
       descArgs,
       describe_function,
       descFun,
       eval_rjson,
       evalRjson,
       exists_temp,
       existsTemp,
       file_edit,
       fileEdit,
       get_actions,
       get_temp,
       getTemp,
       gui_cmd,
       guiCmd,
       gui_import,
       guiImport,
       gui_export,
       guiExport,
       gui_load,
       guiLoad,
       gui_report,
       guiReport,
       gui_save,
       guiSave,
       gui_setwd,
       guiSetwd,
       gui_source,
       guiSource,
       search_web,
       helpSearchWeb,
       is_aqua,
       isAqua,
       is_help,
       isHelp,
       is_jgr,
       isJGR,
       is_mac,
       isMac,
       is_rgui,
       isRgui,
       is_rstudio,
       is_rstudio_desktop,
       is_rstudio_server,
       is_sdi,
       isSDI,
       is_win,
       isWin,
       list_methods,
       listMethods,
       list_to_json,
       listToJson,
       list_types,
       listTypes,
       obj_browse,
       objBrowse,
       obj_clear,
       objClear,
       obj_dir,
       objDir,
       obj_info,
       objInfo,
       obj_list,
       objList,
       obj_menu,
       objMenu,
       obj_search,
       objSearch,
       parse_text,
       parseText,
       package,
       pkgManDescribe,
       pkgManDetach,
       pkgManGetAvailable,
       pkgManGetInstalled,
       pkgManGetMirrors,
       pkgManInstall,
       pkgManLoad,
       pkgManRemove,
       pkgManSetCRANMirror,
       progress,
       rm_temp,
       rmTemp,
       source_clipboard,
       sourceClipboard,
       system_file,
       systemFile,
       system_dir,
       systemDir,
       temp_env,
       TempEnv,
       temp_var,
       tempvar,
       to_rjson,
       toRjson,
       write.objList)

S3method(print, objList)
