#importFrom("tools", )
importFrom("utils", "RSiteSearch", "apropos", "available.packages",
             "browseURL", "capture.output", "compareVersion",
             "file.edit", "file_test", "flush.console", "getCRANmirrors",
             "getS3method", "install.packages", "installed.packages",
             "methods", "object.size", "packageDescription",
             "remove.packages", "str", "tail", "write.table")
importFrom("methods", findFunction, existsFunction, new,
  getMethods, isGeneric, showMethods, slot, slotNames)
importFrom("stats", runif)

export(addActions,
       addIcons,
       add_items,
       addItems,
       addMethods,
       add_temp,
       addTemp,
       argsTip,
       assign_temp,
       assignTemp,
       batch,
       callTip,
       change_temp,
       changeTemp,
       capture_all,
       captureAll,
       compareRVersion,
       completion,
       def,
       delete_temp,
       descArgs,
       descFun,
       evalRjson,
       exists_temp,
       existsTemp,
       fileEdit,
       get_temp,
       getTemp,
       guiCmd,
       guiImport,
       guiExport,
       guiLoad,
       guiReport,
       guiSave,
       guiSetwd,
       guiSource,
       helpSearchWeb,
       isAqua,
       isHelp,
       isJGR,
       isMac,
       isRgui,
       isSDI,
       isWin,
       listMethods,
       listToJson,
       listTypes,
       objBrowse,
       objClear,
       objDir,
       objInfo,
       objList,
       objMenu,
       objSearch,
       parse_text,
       parseText,
       package,
       pkgManDescribe,
       pkgManDetach,
       pkgManGetAvailable,
       pkgManGetInstalled,
       pkgManGetMirrors,
       pkgManInstall,
       pkgManLoad,
       pkgManRemove,
       pkgManSetCRANMirror,
       progress,
       rm_temp,
       rmTemp,
       sourceClipboard,
       systemFile,
       systemDir,
       temp_env,
       TempEnv,
       temp_var,
       tempvar,
       toRjson,
       write.objList)

S3method(print, objList)
